name: CI

on:
  workflow_dispatch: {}
  push:

jobs:
  build:
    name: 'Static Checks'
    runs-on: 'ubuntu-24.04'

    steps:
      - uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2

  test:
    name: Test (${{ matrix.node }})
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        os:
          - 'ubuntu-24.04'
        node:
          # should include even numbers >= 12
          # see: https://nodejs.org/en/about/previous-releases
          - '22'
          - '20'
          - '18'
          - '16'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'

      - name: Print Node.js version
        run: node -v

      - name: Npm install
        run: npm install

      - name: Test
        run: npm run test
        env:
          TWIKEY_API_KEY: ${{ secrets.TWIKEY_API_KEY }}
          CT: ${{ secrets.CT }}
          MNDTNUMBER: ${{ secrets.MNDTNUMBER }}

  publish:
    name: Publish
    if: >-
      (github.event_name == 'workflow_dispatch' || github.event_name == 'push') && startsWith(github.ref, 'refs/tags/v')
    needs: [build, test]
    runs-on: 'ubuntu-24.04'
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'
      - name: Npm install
        run: npm install
      - name: Npm build
        run:  npm run build
      - run: npm publish --provenance --access public